body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
}

.title {
  font-size: 22px;
  font-weight: 200;
  color: #33A098;
}

.highlight_title {
  font-size: 20px;
  font-weight: 200;
  color: #33A098;
}

.feat_hilights {
  color: #33A098;
}

.hp img[src*="logo"] { 
    float: left;
    width: 200px; 
    background: white;
    padding: 50px 30px;
    margin: 0 25px 25px 0;
    box-shadow: 0px 0px 5px rgba(0,0,0,.2);
}
.hp .hero-unit .title { 
    font-size:33px; line-height:40px !important; 
}
.hp .features { 
    -webkit-column-count:4; 
    -moz-column-count:4;
    column-count:4;
    -webkit-column-gap:2.9em;
    -moz-column-gap:2.9em;
    column-gap:2.9em;
}
.hp .features li { 
    margin-top:18px; 
    padding-bottom:18px; 
    border-bottom:1px dashed #ccc; 
    list-style:none;
}
.hp .features li:first-child { margin-top:0; }
