body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
}

.title {
  font-size: 20px;
  font-weight: 200;
  color: #33A098;
}

.highlight_title {
  font-size: 20px;
  font-weight: 200;
  color: #33A098;
}

.feat_hilights {
  color: #33A098;
}
