.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
build
target
out
*.iml
*.ipr
*.iws
.vertx
test-output
src/test/java/io/vertx/test/scratchpad
test-results
test-tmp
*.class
*.swp
.vertx
