.idea
.classpath
.project
.settings
.DS_Store
bin
build
target
out
*.iml
*.ipr
*.iws
test-output
Scratch.java
ScratchTest.java
.yardoc
.yaropts
.gradle
src/examples/java/classes
src/examples/java/quux-out
test-results
test-tmp

