.idea
.classpath
.project
.settings
bin
target
out
*.iml
*.ipr
*.iws
test-output
Scratch.java
ScratchTest.java
.yardoc
.gradle
src/examples/java/classes
src/examples/java/quux-out
test-results
test-tmp
*.class
lib/main/cachedir
