[ ca ]
default_ca      = CA_root

[ CA_root ]
new_certs_dir    = root-ca
database         = root-ca/index.txt
default_md       = sha256
policy           = policy_match
serial           = root-ca/serial
default_days     = 3650
crlnumber        = root-ca/crlnumber
default_crl_days = 3650

[ CA_other ]
new_certs_dir    = other-ca
database         = other-ca/index.txt
default_md       = sha256
policy           = policy_match
serial           = other-ca/serial
default_days     = 3650
crlnumber        = other-ca/crlnumber
default_crl_days = 3650

[ CA_int ]
new_certs_dir    = int-ca
database         = int-ca/index.txt
default_md       = sha256
policy           = policy_match
serial           = int-ca/serial
default_days     = 3650
crlnumber        = int-ca/crlnumber
default_crl_days = 3650

[ policy_match ]
countryName             = optional
stateOrProvinceName     = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = optional
emailAddress            = optional

[ cacert_ext ]
basicConstraints = CA:TRUE

[ req_ext ]
subjectAltName    = @alt_names
[ alt_names ]
DNS.1    = localhost
