[ ca ]
default_ca      = CA_root

[ CA_root ]
new_certs_dir    = root-ca
database         = root-ca/index.txt
default_md       = sha1
policy           = policy_match
serial           = root-ca/serial
default_days     = 365
crlnumber        = root-ca/crlnumber
default_crl_days = 365

[ policy_match ]
countryName             = optional
stateOrProvinceName     = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = optional
emailAddress            = optional
