name: CI/CD (5.x)
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 5 * * *'
jobs:
  CI-CD:
    uses: ./.github/workflows/ci-matrix-5.x.yml
    secrets: inherit
    with:
      branch: ${{ github.event.pull_request.head.sha || github.ref_name }}
